body {
    background: rgb(224, 222, 77);
    font-family: arial,sans-serif;
    margin:0;
}
.header {
    background:orange;
    border:3px solid black;
    text-align:center;
    padding:20px;
}
.navbar span {
    display:inline-block;
    color:white;
    border:1px solid white;
    padding:8px 15px;
    margin:5px;
}
.hero {
    background:light yellow;
    border:2px solid orange;
    text-align:center;
    padding:40px;
    margin:20px;
}
table {
    width:60px;
    margin:40px;
    border: collapse 5px;
    background:white;
}
th , td {
    border:2px solid black;
    padding:10px;
    text-align:center;
}
th {
    background:orange;

}
.about-section {
    margin:20px;
    padding:20px;
    background:white;
    border:2px solid grey;

}
.columns {
    column-count:2;
    column-gap:30px;
}
.tooltip {
    position:relative;
    display:inline-block;
    border:2px solid orange;
    background:orange;
    padding:10px 20px;
    cursor:pointer;
    transition:background 0.5s;
}
.tooltip:hover {
    background:darkorange;

}
.tooltip-text {
    display:none;
    position:absolute;
    background:black;
    color:white;
    border:1px solid white;
    padding:5px;
    width:180px;
    top:40px;
    right:-20px;
}
.tooltip:hover
.tooltip-text {
    display:block;
}
.footer {
    background:white;
    color:black;
    text-align:center;
    padding:15px;
    border-top:3px solid orange;

}